/* Color de barra de navegación*/
.navbar {
    background-color: rgb(140, 134, 170);
}

main {
    background-color: rgb(245, 245, 245);
}

.btn-primary {
    background-color: rgb(154, 39, 90);
    border-color: rgb(154, 39, 90);
}

.btn-primary:hover {
    background-color: rgb(140, 134, 170);
    border-color: rgb(140, 134, 170);
}

.btn-outline-secondary:hover {
    background-color: rgb(140, 134, 170);
    border-color: rgb(140, 134, 170);
}

/* Sección de habilidades */

.border-color {
    border-color: rgb(140, 134, 170) !important;
}

.feature .bi {
    color: rgb(245, 245, 245);
}

/* Sobrescribir el fondo de text-bg-primary */
.d-inline-flex.text-bg-primary {
    background-color: rgb(142, 58, 89) !important;
}

/* Sección de proyectos */

.proyecto {
    background-color: rgb(245, 245, 245);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1 {
    background-image: url(assets/proyecto-comunidades-mayas.jpg);
}

#proyecto-2 {
    background-image: url(assets/clon-google.png);
}

.text-shadow-1 {
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}

/* Footer */
#contacto {
    background-color: rgb(140, 134, 170);
}

.icono-grande {
    font-size: 80px;
}